*{
    display: flex;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
}
body{
    margin: 0px;
    width: 100%;
}
.box{
    flex-direction: column;
    width: 100%;
}

/* 
================
Header 
================
*/

.navbar{
    width: 100%;
    height: 65px;
    padding: 20px 0px 0px 0px;
    box-shadow:0 0 16px black;
}
.left-nav{
    width: 100%;
    margin-left: 40px;
}
.right-nav{
    width: 100%;
    justify-content: flex-end;
    margin-right: 32px;
}
a{
    text-decoration: none;
    cursor: pointer;
}
::placeholder{
    color: gray;
    font-size: 14px;
}
input{
    height: 20px;
    padding: 5px 8px 0px 16px;
    border: 0px;
    border-collapse: collapse;
    outline: 0px;
}
.m-icon{
    width: 60px;
    margin-left: 14px;
}
.categories{
    width: 80px;
    font-size: 15px;
    justify-content: center;
    margin-left: 5px;
}
.h-50{
    height: 60px;
}
#s{
    height: 20px;
}
.srch{
    padding: 3px;
    border: 1px solid black;
    margin-right: 50px;
    height: 30px;
    border-radius: 8px;
}
.srch-icon{
    padding: 6px 3px;
}
a{
    flex-direction: column;
    color: black;
}
label{
    margin-top: 6px;
}
.icons{
    margin-right: 25px;
}
#imgtag
{
    align-self: center;
    margin-bottom: 5px;
}
#m{
    height: 46px;
}
#categories-link{
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 10px;
}
a:hover{
    color: rgb(39, 39, 211);
    transition: 300ms;
}

/* 
================
Banner 
================
*/

.banner{
    height: 359px;
    width: 90%;
    margin-top: 16px;
    padding: 0px 60px;
}
.banner-left{
    width: 34%;
    background-color: blanchedalmond;
    flex-direction: column;
}
.banner-center{
    width: 100%;
    height: 359px; 
}
.banner-right{
    width: 35%;
    background-color: blanchedalmond;
    flex-direction: column;
}
.offer-left{
    width: 80%;
    height: 110px;
    margin-top: 15px;
    margin-left: 28px;
    margin-bottom: 10px;
    font-size: 28px;
    color: white;
    border: 2px;
    border-radius: 12px;
}
.offer-right{
    width: 214px;
    height: 110px;
    margin: 10px 30px;
    font-size: 18px;
    color: white;
    border: 2px;
    border-radius: 12px;
    
}
.flat-off{
    height: 50px;
    width: 200px;
    padding: 5px 20px;
    flex-direction: column;
    align-items: center;
}
.bg-orange{
    background-color: #df6909 ;
}
.bg-drkblue{
    background-color: rgb(28, 20, 82);
}
.bg-drkgreen{
    background-color: rgb(11, 80, 11);
}
#small{
    height: 80px;
}
#big{
    height: 140px;
}

/* 
================
Citi Banner 
================
*/

.citi-banner-container{
    width: 100%;
    margin-top: 12px;
}
.citi-banner{
    width: 96%;
    height: 90px;
    margin:0 35px 0 37px;
}
.citi-logo{
    width: 55%;
    justify-content: flex-end;
}
.citi-info{
    width: 100%;
}

/*
================ 
Responsive 
================
*/

@media (max-width:1213px)
{
    html, body{
        overflow-x: hidden;
    }
}
@media (max-width: 700px)
{
    .navbar {
        height: 180px;
        width: auto;
        flex-direction: column;
    }
    .left-nav{
        margin-bottom: 10px;
    }
    .right-nav>.srch{
        margin-right: 20px;
        align-self: center;
    }
}
@media (max-width: 630px)
{
    .banner{
        flex-direction: column;
        height: fit-content;
    }
    .banner-left,.banner-center,.banner-right{
        width: fit-content;
        align-self: center;
    }
    .citi-banner-container{
        width: auto;
        align-self: center;
    }
}